
.advantages {
  position: relative;
}

.advantages__list {
  @include reset-list;

  margin: 0 auto;
  margin-top: 110px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1270px;
  padding-left: 50px;
  padding-right: 50px;
}

.advantages__item {
  margin-bottom: 2.56%;
  z-index: 5;

  width: 48.72%;
  min-height: 299px;
  padding: 40px 40px 20px 40px;

  border: solid 1px #ebebeb;
  border-left: solid 3px #00b2ff;
  background-color: #ffffff;

  cursor: pointer;

  &:hover {
    background-color: #00b2ff;
  }
}

.advantages__icon-wrapper {
  min-height: 40px;
}

.advantages__item svg {
  fill: #00b2ff;
}

.advantages__item:hover svg {
  fill: #ffffff;
}

.advantages__item h3 {
  margin-top: 15px;
  margin-bottom: 15px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #00b2ff;
}

.advantages__item p {
  font-family: "PT Mono", "Courier New", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.advantages__item:hover h3,
.advantages__item:hover p {
  color: #ffffff;
}

.advantages__decorative-triangle-1 {
  position: absolute;
  top: -65px;
  left: 200px;
}

.advantages__decorative-triangle-2 {
  position: absolute;
  bottom: -255px;
  right: 48%;
  transform: translateX(50%);
}

.advantages__decorative-triangle-3 {
  position: absolute;
  bottom: 50px;
  right: 30px;
}

.advantages__decorative-triangle-4 {
  position: absolute;
  left: 0;
  bottom: -550px;
}

.advantages__decorative-triangle-5 {
  display: none;
}

@media (max-width: $tablet-width) {
  .advantages__list {
    margin-top: 55px;

    padding-left: 25px;
    padding-right: 25px;
  }

  .advantages__item {
    margin-bottom: 4.17%;

    width: 47.92%;
    min-width: 290px;
    min-height: 306px;
    padding: 23px 25px 10px 25px;

    border-left-width: 2px;

    &--less-hight {
      min-height: 232px;
    }
  }

  .advantages__icon-wrapper--svg-icon-hired svg {
    width: 32px;
    height: 32px;
  }

  .advantages__icon-wrapper--svg-icon-detective svg {
    width: 31px;
    height: 26px;
  }

  .advantages__icon-wrapper--svg-icon-tag svg {
    width: 32px;
    height: 32px;
  }

  .advantages__item h3 {
    margin-top: 2px;
    margin-bottom: 0;
    margin-right: -15px;
  }

  .advantages__item p {
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .advantages__decorative-triangle-1,
  .advantages__decorative-triangle-2,
  .advantages__decorative-triangle-3,
  .advantages__decorative-triangle-4 {
    display: none;
  }

  .advantages__decorative-triangle-5 {
    position: absolute;
    right: 0;
    bottom: -310px;

    display: block;
  }
}

@media (max-width: $mobile-width) {
  .advantages__list {
    margin-top: 38px;

    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .advantages__item {
    margin-bottom: 20px;

    min-height: 310px;
    padding-bottom: 20px;

    &--less-hight {
      min-height: 232px;
    }

    &--less-padding {
      padding-right: 10px;
    }
  }

  .advantages__item h3 {
    margin-top: 7px;

    font-size: 20px;
    line-height: 28px;
  }
}
