
.company-description {
  position: relative;
  margin: 0 auto;
  margin-top: 45px;
  z-index: 5;

  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1270px;
  padding-left: 50px;
  padding-right: 50px;
}

.company-description img {
  margin-left: -10px;
  margin-top: 35px;

  flex-shrink: 0;
}

.company-description__details {
  margin-left: 55px;
}

.company-description__details h2 {
  margin-bottom: 20px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
}

.company-description__details p {
  margin-bottom: 20px;

  font-family: "PT Mono", "Courier New", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.company-description__details a {
  margin-top: 22px;

  display: inline-block;
  vertical-align: middle;
  min-width: 180px;
  min-height: 45px;
  padding: 13px 10px 13px 10px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #00b2ff;

  border: solid 1px #00b2ff;
  border-radius: 5px;
}

@media (max-width: $tablet-width) {
  .company-description {
    margin-top: 0;

    padding-left: 25px;
    padding-right: 25px;
  }

  .company-description img {
    margin-top: 25px;

    width: 154px;
    height: 362px;
  }

  .company-description__details {
    margin-left: 45px;
  }

  .company-description__details h2 {
    font-size: 32px;
    line-height: 45px;
  }

  .company-description__details p + p {
    width: 100%;
    max-height: 90px;

    overflow: hidden;
    text-overflow: ellipsis;
/*    display: -webkit-box;
    -webkit-box-orient: vertical;*/
    -webkit-line-clamp: 4;
  }
}

@media (max-width: $mobile-width) {
  .company-description {
    margin-top: 15px;

    padding-left: 15px;
    padding-right: 15px;
  }

  .company-description__details {
    margin-left: 0;
  }

  .company-description__details h2 {
    font-size: 28px;
    line-height: 39px;
  }

  .company-description__details p + p {
    margin-top: 40px;

    max-height: 180px;
    -webkit-line-clamp: 8;
  }

  .company-description img {
    display: none;
  }

  .company-description__details a {
    margin-top: 10px;
  }
}
