
.page-header {
  position: absolute;
  right: 50%;
  transform: translateX(50%);

  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  min-width: $min-width;
  padding-top: 33px;
  padding-left: 40px;
  padding-right: 40px;
}

.page-header__wrapper-contact-group {
  display: flex;
  align-items: flex-start;
}

.page-header__wrapper-links {
  display: flex;
  flex-wrap: wrap;
}

.page-header__link {
  margin-top: 17px;
  margin-right: 50px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;

  font-family: "PT Mono", "Courier New", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  &--email {
    margin-top: 16px;
    margin-right: 90px;
  }

  &:hover,
  &:focus {
    color: darken(#ffffff, 30%);
  }
}

.page-header__link-icon {
  margin-right: 15px;
  fill: #00b2ff;

  &--email {
    margin-right: 19px;
  }
}

.page-header__link:hover .page-header__link-icon,
.page-header__link:focus .page-header__link-icon {
  fill: darken(#00b2ff, 20%);
}

.page-header__order-phone-call-link {
  margin-top: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  max-width: 360px;
  min-height: 45px;
  padding: 10px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: darken(#ffffff, 30%);
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 0;
  }

  .page-header__link {
    margin-top: 12px;
    margin-right: 10px;

    &--email {
      margin-right: 15px;
    }
  }

  .page-header__link-icon {
    width: 24px;
    height: 24px;

    &--email {
      width: 26px;
      height: 19px;
    }
  }

  .page-header__link-text {
    @include visually-hidden;
  }

  .page-header__order-phone-call-link {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding-top: 17px;
    padding-left: 18px;
  }

  .page-header__link {
    margin-top: 4px;
    margin-right: 2px;

    &--email {
      margin-right: 3px;
    }
  }
}
