
.modal-inquiry-form {
  position: fixed;
  z-index: 20;
  top: 135px;
  right: 50%;
  transform: translateX(50%);

  display: none;
  width: 100%;
  max-width: 490px;
  min-width: $min-width;
  padding: 10px 40px 35px 40px;

  background-color: #00b2ff;

  &--opened {
    display: flex;
  }
}

.modal-inquiry-form__close-button {
  position: absolute;
  top: 18px;
  right: 18px;

  width: 23px;
  height: 23px;

  border: 0;
  background: transparent;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 11px;
    left: 0;

    width: 23px;
    height: 1px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
